body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

th{
    border: 1px solid black;
}

td{
    height: 10%;
    border-width:1px;
    border-style:solid; 
    border-color:rgb(220, 142, 142);
}

table{
    width: auto;
    background-color: antiquewhite;
    text-align: center;
    border-width:2px; 
    border-style:solid; 
    border-color:black;
    box-shadow: 0 0 30px #fbfbfb;
}

table tr{
    border: 2px solid black;
    font-size: 20px;
}

thead td{
    font-size: 30px ;
}
